html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container-footer {
  background-color: #00274d;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  margin-top: auto;
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  color: #00aaff;
  text-decoration: none;
  margin: 0 10px;
}

.footer-links a:hover {
  text-decoration: underline;
}
